body {
  margin: 0;
  padding: 0;
  font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Segoe UI,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.exchange-from:before {
  content: '-';
}

.exchange-to:before {
  content: '+';
}

.rate-eq {
  padding: 0 4px;
}

.GBP:before {
  content: '£';
}

.USD:before {
  content: '$';
}

.EUR:before {
  content: '€';
}

.Px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.exchange-digit:nth-last-child(1), .exchange-digit:nth-last-child(2) {
  font-size: 12px;
}

.exchange-amount input{
  text-align: right;
}
